@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #faf6ef;
}

/* Prevent overscroll bounce on iOS */
html { overscroll-behavior: none; }
